.catalog-section {
    padding-bottom: 120px;
    width: 100%;
}

.caralog-item {
    position: relative;
    width: 100%;
    height: 297px; 
    border-radius: 40px;
}

.catalog-item-content {
    padding: 40px 0 40px 40px;
    width: 308px;
}
.catalog-item-content::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 834px; 
    height: 297px; 
    background-repeat: no-repeat;
    z-index: -1;
}

.catalog-item-content[data-image='1']::before {
    background-image: url('/assets/images/cars-card.png');
}

.catalog-item-content[data-image='2']::before {
    background-image: url('/assets/images/cars-card-second.png');
}


.catalog-item-content > h3 {
    color: var(--text-color-white);
    font-size: 24px;
}

.catalog-item-content > p {
    padding-top: 12px;
    padding-bottom: 87px ;
    color: var(--text-color-white);
    font-size: 16px;
}

.catalog-section-cards {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.button[data-button="catalog-button"] {
    background-color: rgba(255, 255, 255, 0.317);
    padding: 12px 20px ;
    height: 45px;
    width: auto;
    font-size: 14px;
    transition: all .3s linear;
}

.button[data-button="catalog-button"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 12px 20px ;
    height: 45px;
    width: auto;
    font-size: 14px; */
}
