.contact-section {
    display: flex ;
    gap:48px;
    position: relative;
    background-color: var(--text-color-black);
    margin-bottom: 60px;
    border-radius: 40px;
    padding: 60px;
}

.contact-social { 
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-form {
    /* position: absolute;
    bottom: 0; */
    margin-bottom: -60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    width: 100%;
    max-width: 603px;
    padding: 40px;
}
.contact-text > h2 {
    color: var(--text-color-white);
}

input[name=address] {
    width: 100%;
}
 

