@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./header.css');
@import url('./header-preview.css');
@import url('./cars-list.css');
@import url('./catalog.css');
@import url('./about.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./responsive.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;

}

.button {
    background-color: var(--button-color);
    color: var(--text-color-white);
    width: 100%;
    max-width: 300px;
    height: 70px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}


.section-title {
    font-size: clamp(18px , 5vw , 32px);
    font-weight: 900;
    padding-bottom: 16px;
    color: var(--text-color-black);
}

.section-subtext {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-gray-color);
    padding-bottom: 32px;
}
:root {
    --text-color-white: white;
    --text-color-black: #191919;
    --text-gray-color: #757575;
    --red-text-color: #EB1C24;
    --button-color: #EB1C24;
    --black-button: #303030;
    --regular-text: #191919;
    --card-bg-color: #F8F8F8;
    --hover-button-color: #D90008;

}

body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.car-title {
    font-size: clamp(14px, 4vw, 24px);
}

.hidden {
    display: none;
}

.wrapper-modal-window {
    border-radius: 10px ;
    position: relative;
    display: inline-block;
    padding: 25px;
    background-color: var(--text-color-white);
    box-shadow: 0 2px 20px gray;
}

.inner-burger-menu-hidden {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.burger-menu-hidden {
    position: relative;
}

.wrapper-modal-window {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 999999;
}
.inner-burger-menu-hidden > li > a {
    text-decoration: none;
    color: var(--text-color-black);
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor:pointer;
}